<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. (* correcting to Position Type breaks page) -->

  <div th:replace="~{fragments :: job_result_table}"></div>

  <!--<tr th:each="job : ${jobs}">
    <table class = "job-listing">
      <tr>
        <td th:text="ID"> </td>
        <td th:text="${job.id}"></td>
      </tr>
      <tr>
        <td th:text="Name"> </td>
        <td th:text="${job.name}"></td>
      </tr>
      <tr>
        <td th:text="Employer"> </td>
        <td th:text="${job.employer.getValue()}"></td>
      </tr>
      <tr>
        <td th:text="Location"> </td>
        <td th:text="${job.location.getValue()}"></td>
      </tr>
      <tr>
        <td th:text "Position"></td>
        <td th:text="${job.positionType.getValue()}"></td>
      </tr>
      <tr>
        <td th:text="Skill"> </td>
        <td th:text="${job.coreCompetency.getValue()}"></td>
      </tr>
    </table>

  </tr>
-->


</div>

</body>
</html>